.about {
  padding-top: 5rem;
  overflow: hidden;
}
.about_section {
  font-size: 1.2rem;
  margin: 2rem;
}
.skills_section {
  margin-top: 8rem;
}
.skills_section h2 {
  text-align: left;
}
.skills {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  margin: auto;
}
.skills_card {
  display: flex;
  width: 15rem;
  background: rgb(87, 134, 195, 0.2);
  border-radius: 2px;
  padding: 1rem 2rem;
  margin: 1rem auto;
  transition: all 0.4s ease;
}
.skills_card:hover {
  box-shadow: 0 3px rgb(87, 134, 195);
  transition: all 0.4s ease;
}
.skills_card h3 {
  margin-left: 1rem;
}
.icon_wrapper {
  box-shadow: 2px 0 5px rgb(87, 134, 195);
  padding: 5px 10px;
  border-radius: 5px;
}
.skills_icon {
  width: 1.5rem;
  height: 1.5rem;
}
.service_section {
  margin-top: 8rem;
}
.service_section h2 {
  text-align: left;
}
.service {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  margin: auto;
}
.service_card {
  display: flex;
  flex-direction: column;
  width: 23rem;
  height: 20rem;
  background: rgb(87, 134, 195, 0.2);
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 1rem auto;
  transition: all 0.4s ease;
}
.service_card:hover {
  transform: scale(1.1);
}
.service_icon {
  width: 5rem;
}
.service_content {
  margin-top: 1.5rem;
}
@media screen and (max-width: 1178px) {
  .skills {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .about_section {
    margin: 1rem;
  }
  .about_text {
    margin: 3rem;
  }
  .skills {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
  }
  .service {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
  }
  .service_card {
    width: 15rem;
  }
}
