.button {
  padding: 8px 30px;
  background: transparent;
  text-decoration: none;
  text-align: left;
  border-radius: 5px;
  border: 2px solid #5786c3;
  transition: 0.3s;
}
.button:hover {
  background: #5786c3;
  width: 5%;
  transition: background 0.3s;
  animation: bg 1.5s infinite;
}
