.contact {
  padding-top: 5rem;
}
.contact_card_div {
  display: flex;
}

.contact_card {
  display: flex;
  width: 28rem;
  height: 6rem;
  align-items: center;
  justify-content: center;
  background: var(--secondary-color);
  padding: 1rem 0.5rem;
  margin: 1rem auto;
  transition: all 0.4s ease;
}
.contact_card span {
  font-size: 3rem;
  margin: 10px;
  
}
.contact_card *{
  color: var(--primary-color);
}
@media screen and (max-width: 1168px){
  .contact_card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16rem;
    height: 5rem;
  }
  .contact_card span {
    font-size: 1.7rem;
  }
  .contact_card h2 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 517px){
  .contact_card_div {
    flex-direction: column;
  }
  .contact_card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 5rem;
  }
  .contact_card span {
    font-size: 2rem;
  }
  .contact_card h2 {
    font-size: 1.1rem;
  }
}
