.home {
  padding-top: 8rem;
  overflow: hidden;
  min-height: 100vh;
}

.hero_section {
  display: flex;
  justify-content: space-around;
  transition: 0.5s;
}
.hero_content {
  margin-left: 8rem;
  margin-top: 5rem;
  transition: 0.5s;
}
.hero_content h2 {
  color: #fff;
  font-size: 1.95rem;
}
.hero_content h2 b {
  color: #5786c3;
  font-weight: bold;
}
.hero_content h2 p {
  font-size: 1.1rem;
  transition: 0.5s;
  color: var(--primary-color);
  margin-top: 10px;
}
.hero_image {
  margin-right: 2rem;
  margin-top: 2.5rem;
  width: 27rem;
}
.hero_image img {
  width: 100%;
  border-radius: 50px;
}
.hero_social_icons {
  position: absolute;
  bottom: 0;
  left: 8%;
  transition: 0.4;
}
.icon * {
  color: var(--primary-color);
  font-size: 2rem;
  cursor: pointer;
  margin: 0.5rem;
}
.icon *:hover{
  color: #ffffff;
}
@media screen and (max-width: 1300px) {
  .hero_content {
    margin-left: 2rem;
    margin-top: 1rem;
    transition: 0.5s;
  }
  .hero_image {
    width: 29rem;
    transition: 0.3s;
    margin-top: 1rem !important;
    margin-right: 0;
  }
  .hero_content h2 p {
    font-size: 1rem;
  }
  .hero_social_icons {
    left: 1%;
    transition: 0.3s;
  }
}
@media screen and (max-width: 853px) {
  .hero_section {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }
  .hero_content {
    margin:0 1rem;
  }
  .hero_content *{
    text-align: center;
 }
 
  .hero_content h2 p {
    font-size: 0.8rem;
  }
  .hero_image {
    margin-top: -1rem !important;
    width: 12rem;
    height: 12rem;
  }
  .hero_image img {
    width: 100%;
    height: 100%;
    border-radius: 70% 50% 50% 50%/50% 15% 50%;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
  }
  .hero_content h2 {
    color: #fff;
    font-size: 1.2rem;
  }
}
