.home {
  padding-top: 8rem;
  overflow: hidden;
  min-height: 100vh;
}

.hero_section {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-around; */
  transition: 0.5s;
}
.hero_content {
  margin-left: 8rem;
  margin-top: 9rem;
  transition: 0.5s;
  /* line-height: 50px; */
}
.hero_content h2 {
  font-size: 1.95rem;
}
.hero_content h2 b {
  color: #5786c3;
  font-weight: bold;
}
.hero_content h2 strong {
  font-size: 2.5rem;
}
.hero_content h2 p {
  font-size: 1.1rem;
  transition: 0.5s;
  margin-top: 20px;
}
.hero_image {
  margin-right: 2rem;
  margin-top: 2.5rem;
  width: 22rem;
}
.hero_image img {
  width: 100%;
}
.hero_image .hero-desktop {
  display: block;
}
.hero_image .hero-mobile {
  display: none;
}

@media screen and (max-width: 1300px) {
  .hero_content {
    margin-left: 2rem;

    transition: 0.5s;
  }
  .hero_image {
    width: 29rem;
    transition: 0.3s;
    margin-top: 1rem !important;
    margin-right: 0;
  }
  .hero_content h2 p {
    font-size: 1rem;
  }
  .hero_social_icons {
    left: 1%;
    transition: 0.3s;
  }
}
@media screen and (max-width: 853px) {
  .hero_section {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }
  .hero_content {
    margin: 0 1rem;
  }
  .hero_content * {
    text-align: center;
  }

  .hero_content h2 p {
    font-size: 0.8rem;
  }
  .hero_image {
    margin-top: 1rem !important;
    margin-bottom: 2rem;
    width: 16rem;
  }
  .hero_image img {
    width: 100%;
    height: 100%;
  }
  .hero_image .hero-desktop {
    display: none;
  }
  .hero_image .hero-mobile {
    display: block;
  }
  .hero_content h2 {
    font-size: 1.2rem;
  }
  .hero_content h2 strong {
    font-size: 1.5rem;
  }
}
