* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0d0d0d;
  color: #acacac;
}
.section-title {
  text-transform: lowercase;
}
.section-title ::before {
  content: "~/";
  display: block;
  display: inline-flex;
  color: #33a9dc;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
