.navigation_bar {
  position: sticky;
  width: 100%;
  height: 100px;
  z-index: 9;
  background: transparent;
  overflow: hidden;
}
.nav_brand {
  position: absolute;
  height: 80px;
  top: 10%;
  left: 9%;
  z-index: 99;
  cursor: pointer;
  transition: all 0.2s ease;
}

.nav_brand.menu {
  top: 1%;
}

.menubar {
  position: absolute;
  right: 11%;
  top: 30%;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.4s ease;
}

.menubar .menu-open-icon {
  position: relative;
  background-color: transparent;
  height: 5px;
  width: 40px;
  display: block;
  margin: 6px;
  border-radius: 20px;
}

.menubar ::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background-color: #000;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.menubar:hover {
  opacity: 1;
}
.menubar .first-bar::before {
  width: 50%;
}
.menubar .third-bar::before {
  background-color: var(--primary-color);
}

.close {
  position: absolute;
  right: 11%;
  top: 5%;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.8;
}
.close-icon {
  height: 2px;
  width: 30px;
  background-color: #000;
  display: block;
  cursor: pointer;
  border-radius: 20px;
}
.close-icon1 {
  transform: rotate(-45deg);
}
.close-icon2 {
  transform: rotate(45deg);
}

.navigation {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 5;
  transform: translateY(-200%);
  background-color: #73a4e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navigation-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.navigation-links .link {
  color: #000;
  margin: 15px;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-family: sans-serif;
}
@media screen and (max-width: 1300px) {
  .nav_brand {
    left: 1%;
  }
  .menubar {
    right: 3%;
  }
  .close {
    right: 3%;
  }
}
