@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  color: #fff;
}
:root{
  --primary-color: #777778;
  --secondary-color: #16161A;
}
body, html {
  scroll-behavior: smooth;
  background: #101011;
  font-family: "Poppins", sans-serif;
}
#heading-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}
#heading-title::before {
  content: "--";
  color: #5786c3;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #030d1a;
}
.loader1 {
  width: 50px;
  height: 50px;
  background: #6495ed;
  border-radius: 50px;
  animation: loader1 1s ease-out infinite;
  transition: all 0.3s;
  transform: translateX(-10px);
}
.loader2 {
  width: 50px;
  height: 50px;
  right: 5rem;
  background: #0652df;
  border-radius: 50px;
  animation: loader2 1s ease-out infinite;
  transition: all 0.3s;
}
@keyframes loader1 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(52px);
  }
}
@keyframes loader2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-52px);
  }
}
